<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aop.dao.OptLogDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.aop.model.OptLogDetail">
        <id column="opt_log_detail_id" property="optLogDetailId" />
        <result column="opt_log_id" property="optLogId" />
        <result column="diff_field_value" property="diffFieldValue" />
    </resultMap>

</mapper>
